useDynLib(ProbKMA.package, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(class,knn)
##exportPattern("^[[:alpha:]]+")
export("probKMA")
export('probKMA_plot')
export('find_candidate_motifs')
export('motifs_search')
export('motifs_search_plot')
export('cluster_candidate_motifs_plot')
export('cluster_candidate_motifs')
export('filter_candidate_motifs')

